<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <br>
        <h1>Weight Tracker</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/login">login</a>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>