<br>
<div class="container">
  <div class=" row">
    <div class="col-sm-4">
      <div class="rounded float"><img src="/image/3.jpg" alt="Scale picture" style="width:300px;height:200px;">
      </div>
    </div>
    <div class="col-sm-8">
      <p class=" lead text"> <strong>WHAT IS WEIGHT TRACKER?</strong>
        Your tracker can show you how many calories you've burned, how many steps you've taken,
        and how long you've been active.
        They can also remind you when you aren't getting that activity. This visual display of your progress
        can
        help
        you push harder,
        which leads to the next item on our list.
      </p>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="rounded float"><img src="/image/1.jpg" alt="Scale picture" style="width:300px;height:200px;">
      </div>
    </div>
    <div class="col-sm-8">
      <p class=" lead text"> <strong>WHAT ELSE CAN HELP YOU WITH YOUR WEIGHT?</strong>
        Healthy weight begins with a healthy diet.
      </p>
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="rounded float"><img src="/image/skinny.jpg" alt="Scale picture" style="width:300px;height:200px;">
      </div>
    </div>
    <div class="col-sm-2">
      <p class=" lead text"> <strong>Testimonials</strong>

      </p>
    </div>
    <div class="col-sm-6">
      <p class=" lead text"> I love this app.  I lost 10 lbs in a month! Ho Ho ! - Santa Claus
      </p>
    </div>
  </div>






  <br>

  <footer class="footer">
    <div class="divider">
      <div class="social-icons">
        <p>Contact us via GitHub, Facebook, Twitter, Instagram, or YouTube:</p>

        {{!-- <a href="#"><img src="/image/GitHub_Logo.png " alt="Git Hub icon" /></a> --}}
        <a href="#"><img src="/image/facebook.svg" alt="Facebook icon" /></a>
        <a href="#"><img src="/image/twitter.svg" alt="Twitter icon" /></a>
        <a href="#"><img src="/image/instagram.svg" alt="Instagram icon" /></a>
        <a href="#"><img src="/image/youtube.svg" alt="YouTube icon" /></a>
      </div>
    </div>
  </footer>

</div>