<div class="home-page">
    
    
    <img src="/image/scale.jpg" alt="Scale picture" style="width:300px;height:300px;">
</div>
<section class="flex-row justify-center">

    <h2>
      About US
    </h2>
    <h2> Testimonials </h2>

<!-- footer with all the required contact information -->
  <footer id="contact">
<section class="flex-row justify-center">

    <h2>
      Contact Info
    </h2><br>

    <p> My email: <a href="mailto:ronashutter@gmail.com">ronashutter@gmail.com</a><br>
    </p>
    <p>My phone: <a href="tel:+1233456789"> 123 345 6789</a>
    </p>
    <p>
        <a href="assets\images\Resume Ron A Shutter 2021.doc"> My Resume</a><br>
      <a href="https://github.com/Proton-8">My GitHub Acct</a><br>
      <a href="https://www.linkedin.com/in/ron-shutter-95613211/">My LinkedIn</a><br>

    </p>
</section>
    <br>
    <h2>Thank you for visiting our site!</h2>

  </footer>
