<div class="home-page">
    <div class="image_first"><img src="/image/3.jpg" alt="Scale picture"></div>  
    {{!-- style="width:300px;height:300px;" --}}
    <div class="firstPage"><p>Your tracker can show you how many calories you've burned, how many steps you've taken, and how long you've been active.
       They can also remind you when you aren't getting that activity. This visual display of your progress can help you push harder, 
       which leads to the next item on our list.</p>
    </div>
    
    
</div>
<section class="flex-row justify-center">
<div class="image_first"><img src="/image/1.jpg" alt="Scale picture"></div>  
    {{!-- style="width:300px;height:300px;" --}}
    <div class="firstPage">
      <p>Your tracker can show you how many calories you've burned, how many steps you've taken, and how long you've been active. 
        They can also remind you when you aren't getting that activity. This visual display of your progress can help you push harder, 
        which leads to the next item on our list.
      </p>
    </div>
    
    {{!-- <h2>
      About US
    </h2>
    <h2> Testimonials </h2> --}}
  </section>

<!-- footer with all the required contact information -->
{{!-- <footer id="contact"> --}}
<section class="flex-row justify-center">

   <div class="image_first"><img src="/image/4.jpg" alt="Scale picture"></div>  
    {{!-- style="width:300px;height:300px;" --}}
    <div class="firstPage">
      <p>Your tracker can show you how many calories you've burned, how many steps you've taken, and how long you've been active. 
        They can also remind you when you aren't getting that activity. This visual display of your progress can help you push harder, 
        which leads to the next item on our list.
      </p>
    </div>

    {{!-- <p> My email: <a href="mailto:ronashutter@gmail.com">ronashutter@gmail.com</a></p>
    <p>My phone: <a href="tel:+1233456789"> 123 345 6789</a></p>
    <p>
        <a href="assets\images\Resume Ron A Shutter 2021.doc"> My Resume</a><br>
      <a href="https://github.com/Proton-8">My GitHub Acct</a><br>
      <a href="https://www.linkedin.com/in/ron-shutter-95613211/">My LinkedIn</a><br>

    </p> --}}
</section>
    {{!-- <br>
    <h2>Thank you for visiting our site!</h2> --}}

  {{!-- </footer> --}}
