<br>

<div class="card bg-dark text-black">
  <img src="/image/2.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    {{!-- <h5 class="card-title">Card title</h5> --}}
    {{!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
    {{!-- <p class="card-text">Last updated 3 mins ago</p> --}}
 





{{!-- <span> --}}
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Returning User</h3>
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
      <br>
        {{!-- <div class="form-group"> --}}
          <label for="password-login">Password:</label>
          <input class="form-input " type="password" id="password-login" />
        {{!-- </div> --}}
        <br>
        <button class="btn btn-info rounded-circle" type="submit">Login</button>
        </div>
     </div> 
      
<br>




      {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}

    </div>
  {{!-- <br> --}}
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">New User</h3>
  <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
      <br>
        {{!-- <div class="form-group"> --}}
          <label for="password-login">Password:</label>
          <input class="form-input " type="password" id="password-login" />

<br>
        {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
 <button class="btn btn-primary rounded" id="signupbtn" type="submit">Sign up</button>

        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
      </div>
      </div>
    </div>
  </div>
  </div>

 </div>
</div>









  {{!-- <div class="flex-row justify-center"> --}}
    {{!-- <section class="flex-row justify-center"></section> --}}
{{!-- 
    <div class="login-card1">
      <h2 class="page-title">Login</h2>

      <form class="form login-form">
        <img src="/image/2A.jpg " alt="bar graph" style="margin: 10px;" /> --}}
        {{!-- style="width:200px;height:200px;" --}}
        {{!-- <div class="form-group">
          <br>
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <br>


        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input " type="password" id="password-login" />
        </div> --}}

        {{!-- <div class="form-group">

          <button class="btn btn-info rounded-circle" type="submit">Login</button> --}}

          {{!-- <button type="button" class="btn btn-info">Login</button> --}}
        {{!-- </div>
      </form>
    </div>
  </div>
  <br>

  <br>
  <div class="login-card">
    <h2 class="page-title"> New User</h2>
    <form class="form signup-form">
      <div class="form-group"> --}}
        {{!-- <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" /> --}}
      </div>
      {{!-- <br> --}}

      {{!-- <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <br>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary rounded" id="signupbtn" type="submit">signup</button>
      </div>
    </form>
  </div>
  </div>
</span> --}}
<script src="./js/login.js"></script>