<br>
</div>
{{!-- text-center --}}
<div class="container">
  <div class="row flex-fill ">
    <div class="col">
      <div class="col">
        <div class="col">
         <h2 class="card-title text-center">Login</h2>
           <form class="form login-form ">
            <div class="form-group">
              <input class="form-input form-control-lg" type="text" id="email-login" placeholder="Email (**@.com)" />
              <div class="form-group">
                <input class="form-input form-control-lg " type="password" id="password-login" placeholder="Password">
</div>
</div>
<br>
                <a href="/signup"><h4> Create New User Account</h4></a>
              
      
              <div class="form-group text-center">
                <button class="btn btn-primary btn-lg  " type="submit">login</button>
              
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>