<br>

<div class="card bg-dark text-black">

  <img src="/image/2.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><strong>Returning User</strong></h3>
              <label for="email-login">Email:</label>
              <input class="form-input" type="text" id="email-login" />
              <br>
              <label for="password-login">Password:</label>
              <input class="form-input " type="password" id="password-login" />
              {{!--
            </div> --}}
            <br>
            <button class="login-form btn btn-info rounded-circle" type="submit">Login</button>
          </div>
        </div>
      </div>

      {{!-- <br> --}}
      <div class="col-sm-6"></div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><strong>New User</h3></strong>
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
            <br>

            <label for="password-login">Password:</label>
            <input class="sign" type="password" id="password-login" />

            {{!-- <br> --}}
            {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            --}}
            <button class="signup-form btn btn-primary rounded"  type="submit">Sign up</button>
          </div>
          {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}

        </div>
      </div>
    </div>
  </div>


</div>
</div>
</div>
</div>


<script src="./js/login.js"></script>