<h2>Plan page to be implemented...</h2>

<h2>Plan page to be implemented...</h2>
<div>
    <p>
        Username: {{plan.email}}
    </p>
    <p>
        Password: {{plan.password}}
    </p>
</div>

<div>
    <p>
        Current Weight:
    </p>
    <p>
        Target Weight:
    </p>
    <p>
        Program Start Date:
    </p>
    <p>
        Program End Date:
    </p>
</div>