<div class="card login-card1" style="min-width: 100%;">
  <div class="tracker">
    <h2>My Progress</h2>
  
<div class>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Daily Weight:</label>
    <div class="col-sm-10">
      {{! need help to make password appear as *** only }}
      <input
        type="text"
        class="form-control-plaintext"
        id="tracker-weight"
        value=""
      />
    </div>
  </div>
</div>
  <div class="datecontainer">
    <div class="row">
      <label>Date:</label>
      <input
        type="text"
        class="datepicker-13"
        id="tracker-date"
        value=""
      />
    </div>
    <button id="daily-tracker" type="button" class="btn btn-secondary btn-sm">Save</button>
  </div>
  <div class="report">
  <div class="report-table">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      {{#each progresses as |progress|}}
      <tr tracker_id="{{progress.id}}">
        <td>{{format_date progress.track_date}}</td>
        <td>{{progress.daily_weight}}</td>
        <td><img src="/image/delete.png" alt="delete icon" class="delete-icon"></td>
      </tr>
      {{/each}}
    </table>
  </div>
  <div class="report-graph"><img src="/image/graph.jpg" alt="weight loss graph"></div>
  </div>
</div>
</div>

<script src="/js/tracker.js"></script>