:root {
  --primary: #c49100;
  --tittle: #4c3800;
  --nav: #d4d116;
  --secondary: white;
  --hover: black;
}
* {
  box-sizing: border-box;
  margin: 1;
  padding: 0;
}

/* html, */
/* body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(207, 200, 200);
    color: navy;
    line-height: 1.7;
    overflow-x: hidden;
    min-height: 100%;
    width:100%;
    height:auto;
} */

header {
  text-align: center;

  /* background: rgb(104, 101, 101); */
  background: var(--primary);
  color: var(--tittle);
  text-align: center;

  /* background:lightskyblue; */
  padding-bottom: 1px;

  background: lightskyblue;
}

nav {
  display: flex;
  justify-content: flex-start;
  line-height: 3;
  background-color: Var(--nav);
  padding-top: 5px;
  margin-top: 3px;
  /* background-color:gold; */
}

nav a {
  margin-left: 20px;
  color: var(--secondary);
}
a:link {
  text-decoration: none;
}
a:hover {
  color: var(--hover);
}

/* .home-page {

   
    margin-top:20px;
    padding: 5px;
    width: 100%;


} 
*/
/* .image_first,img{
    box-shadow: var(--primary);

    border-style: solid;
    border-color: white;
    
    width: 340px;
    height: 340px; */
/* width: 30%; */
/* height:auto; */
/* display:inline;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;

} */

/* .firstPage{ */
/* box-shadow: var(--primary); */

/* border-style: solid;
    border-color: rgb(216, 17, 17);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    float: right;
    color: black;
    width: 95%;
    display:inline;
    

} */

footer {
  height: auto;
  margin-top: 10px;
  /* left: 0;
    bottom: 10px; */
  width: 100%;
  background-color: var(--primary);
  color: blanchedalmond;
  text-align: center;
}
/* margin-block: 50px;
   


/* .firstPage{
    box-shadow: inset 0 0 5px 3px #AE0602;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    float: left;
} */
/* #login  */
/* .aboutUs {
    display: flex; */
/* Forces elements to the next line if they don't fit */
/* flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 5px;
    max-width: 100%;
    background: teal;
    color: antiquewhite;
  
  } */
/* .Tests {
    display: flex; */
/* Forces elements to the next line if they don't fit */
/* flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 25px;
    max-width: 100%;
    background: rgb(10, 100, 218);
    color:ghostwhite;  
  } */

.login-card1 {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-start;
  padding: 10px;
  max-width: 25%;
  background: royalblue;
  color: black;
}
.container {
  background: tan;
  /* max-width: 100%; */
}
.login-card {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 10px;
  max-width: 25%;
  background: midnightblue;
  color: antiquewhite;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: ivory;
}

.social-icons img {
  width: 1px;
  height: 1px;
  margin-left: 1px;
}
/* .divider {
        width: 100%;
        height: 3px;
        border-top: 1px rgb(78, 74, 134) solid;
        margin: 30px 0;
    } */
